body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#loadingPanel {
	position: fixed;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: darkgrey;
	z-index: 10;
	animation: 1s;
}
#loadingPanel p {
	margin: auto;
	color: white;
}

#solarSystem {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: black;
	z-index: 0;
}

#speedIndicator {
	position: fixed;
	top: 20vh;
	right: 0;
	margin: 1em;
	height: 5vh;
	width: 5vh;
	color: white;
	text-align: center;
}

#speedSlider {
	position: fixed;
	top: 25vh;
	right: 0;
	margin: 1em;
	width: 50px;
	height: 50vh;
	color: white;
}

.vertical-slider {
    -webkit-appearance: slider-vertical;  /* Override default CSS styles */
    appearance: none;
	margin: 0;
    width: 100%; /* Full-width */
    height: 100%; /* Specified height */
    background: linear-gradient(red, lightgrey); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.2; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	border-radius: 0.5em;
}
.vertical-slider:hover, .vertical-slider:hover {
    opacity: 0.7;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    cursor: pointer;
}

.vertical-slider::-moz-range-thumb {
    width: 100%;
    height: 25px;
    background: white;
    cursor: pointer;
}
