body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#loadingPanel {
	position: fixed;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: darkgrey;
	z-index: 10;
	animation: 1s;
}
#loadingPanel p {
	margin: auto;
	height: 20vh;
	color: white;
}

#solarSystem {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: black;
	z-index: 0;
}
